.changeAvatar {
    visibility: hidden;
}

img{
    visibility: visible;
}

a:hover {
    visibility: visible;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.navbar .form-control {
    width: 200px;
}